@charset "UTF-8";

/*configuração Geral*/
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}


/* Configurações do background e da centralização dos itens */
body{
    width: 100vw;
    height: 100vh;
    background: url(images/bg-main-desktop.png);
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
}

main{
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
}


/* Configuração das fuguras do cartão.*/
#cardfull{
    margin-left: 180px;
    filter: drop-shadow(5px 5px 10px rgba(0, 0, 0, 0.322));
}

.cardfrent{
    background: url(images/bg-card-front.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 81%;
    height: 200px;
    padding: 20px;
}

.cardatras{
    background: url(images/bg-card-back.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 400px;
    height: 200px;

    margin-top: 40px;
    margin-left: 50px;
}

/*Configuração dos elemnos dentro da figura do cartão frente*/
#numero{
    margin-top: 40px;
    width: 100%;
    font-size: x-large;
    font-weight: 500;
    color: white;
}

.nomeevalidade{
    justify-content: space-between;
    display: flex;
    flex-flow: row;
    margin-top: 20px;
    font-weight: 500;
    color: white;
}

#validade{
    padding-right: 10px;
    display: flex;
}

/*configuração dos elemntos da figura do cartão atras*/

#codigocvc{
    position: absolute;
    top: 75%;
    left: 75%;
    font-weight: 600;
    color: white;
}

/*Configuração dos inputs dos dados do Cartão */
#dados{
    height: 58%;
    padding: 20px;
    width: 30%;
    display: flex;
    flex-flow:  wrap;
    margin-left: 90px;
}

#dados>div{
    margin-top: 20px;
}

#dados label{
    font-weight: bold;
}

#dados input{
    width: 100%;
    margin-top: 5px;
    
    border-radius: 7px;
    padding: 10px;
    border: 1px solid black;
}

.nomepessoa ,.numerodecard{
    width: 100%;
}

.datacard , .seguranca{
    width: 50%;
}
.datacard #imes ,.datacard #iano{
    width: 40%;
}

#dados .botao{
    cursor: pointer;
    border: none;
    color: white;
    background-color: hsl(278, 68%, 11%);
    margin-top: 20px;
    padding: 15px 0px;
    width: 100%;
}

#dados .botao:hover{
    background-color: hsl(278, 67%, 19%);
}
