
    @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

    @import url('https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&display=swap');

    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

body{
    width: 100vw;
    height: 100vh;
    background-color: hsl(30, 38%, 92%);
    display: flex;
    justify-content: center;
    align-items: center;
     }

#tudo{
    border-radius: 15px;
    display: flex;
    flex-flow: row wrap;
    overflow: hidden;
    width: 50%;
    height: 80%;
    }

#poduto{
    background-image: url(images/image-product-desktop.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 50%;
    }



#corpo{
    background-color: white;
    width: 50%;
    padding: 20px;}

#corpo>header>h1{
    margin-bottom: 20px;
    font-family: "Fraunces", serif;
    font-weight: 700;
    width: 200px;}

#corpo>header>p{
    margin: 20px 0px;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    line-height: 1.5em;}

main > section>p{
    margin-bottom: 40px;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    line-height: 1.5em;}

.preco{
    display: flex;
    flex-direction: row;
    align-items: baseline;}

.preco> .valor1{
    font-family: "Fraunces", serif;
    font-weight: 700;
    color:hsl(157, 41%, 40%);
    font-size: xx-large;
    margin-right: 30px;}

.preco> .valor2{
    font-family: "Montserrat", sans-serif;
    font-weight: 500;}

.carrinho a{
    display: block;
    text-align: center;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    background-color: hsl(158, 36%, 37%);
    text-decoration: none;
    color: white;
    font-size: larger;
    padding: 20px 0px;
    border-radius: 20px;}

.carrinho a:hover{
    background-color: hsl(158, 44%, 54%);
    text-decoration: underline;}

@media screen and (max-width:400px){
    #tudo{
        display: block;
        width: 95%;
        height: 98%;
    }

    #poduto{
        background-image: url(images/image-product-mobile.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        width: 100%;
        height: 30%;
        }

        #corpo{
            width: 100%;
            height: 70%;
            }


}

        